body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;

    width: 80%;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}
h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 500px;
  font-size: 17px;
  font-family: monospace;
}

td {
    text-align: right;
}

.how {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.fornt-table {
    width: 100%;
}

.information {
    padding-top: 10px;
    vertical-align: top;
    text-align: left;
    width: 25%;
}

.introduction {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    width: 52%;
}

.corvette {
    padding: 25px;
    width: 52%;
}

.last-modified {
    vertical-align: top;
    padding-top: 5px;
    width: 23%;
    text-align: left;
}

.linkedin-link {
    color: black;
    text-decoration: none;
}

.title {
    font-family: 'Orbitron', sans-serif;
    text-align: center; 
    font-size: 50px;
}

.history-time {
    width: 30%;
    font-size: 16px;
    text-align: left;
}

.history-content {
    width: 56%;
    font-size: 16px;
    text-align: left;
}

.history-edit {
    width: 14%;
    font-size: 16px;
    text-align: center;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 20px;
    right: 0px;
}