<!DOCTYPE html>

<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/main.css">
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <title>Front Page</title>
    <style>
    	body {
    		background-size: 100% 100%;
    		background-repeat: no-repeat;
    	}
    	a:link {
	    background-color: transparent;
	    text-decoration: none;
		}
	    a:hover {
	    color: red;
	    background-color: transparent;
	    text-decoration: underline;
		}
    </style>
  </head>
  <body>
  	<br>
	<div class="login-area">
		{% if loggedin %}
		    <a class="login-link" href="/_edit/">Edit</a>
			|
			<a class="login-link" href="/_history{{address}}" target="_blank">History</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="login-link">{{username}}</a>
			<a class="login-link" href="/logout">(Log out)</a>
		{% else %}
			<a class="login-link" href="/_history{{address}}" target="_blank">History</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="login-link" href="/login">Log In</a>
			|
			<a class="login-link" href="/signup">Signup</a>
		{% endif %}
	</div>
	<h2 class="title" >
		<span style="color: #0266C8">Welcome</span> <span style="color: #F90101">to</span> 
		<span style="color: #FE9A2E">Jiajun's</span></a> <span style="color: green">Wiki</span>
	</h2>
	<br>
	<table class="fornt-table">
		<tr>
			<td class="information" rowspan = "2">
				<img src="https://lh3.googleusercontent.com/-GOyAbRhF6bU/VgVeEFxVl3I/AAAAAAAAATA/h4BsNrLfTlI/w622-h850-no/IMG_3088.JPG" alt="Couldn't find image" width="50%" height=1.366*width>
				<br>
				<h3>Jiajun Ye (Jason)</h3>
				<br>
				<a href="https://www.linkedin.com/profile/view?id=AAkAABqd9qUBFR0DOs_VimCvQ1Uovh87FoE61ok&authType=NAME_SEARCH&authToken=xSOc&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A446559909%2CauthType%3ANAME_SEARCH%2Cidx%3A1-3-3%2CtarId%3A1443130598308%2Ctas%3Ajiajun" target="_blank">Check LinkedIn Page</a>
				<br><br>
				Email:
				<br><a href="mailto:jasonyecs@gmail.com">jasonyecs@gmail.com</a>
				<br><br>
				GitHub:
				<br><a href="https://github.com/jiajunye" target="_blank">https://github.com/jiajunye</a>
				<br><br>
				Jiajun's Blog:<br>
				<a href="http://jiajun-blog.appspot.com/blog" target="_blank">http://jiajun-blog.appspot.com/blog</a>
				<br><br><br><br><br>
				<i class="how"><span style="color: #FF0000">Play</span> <span style="color: #0000FF">Arcade</span> <span style="color: #00CC00">Games</span></i>
				<ul>
					<li><i><a href="http://jiajunye.github.io/OOJS_Frogger-Game/" target="_blank">Frogger Game</a></i></li>
					<br>
					<li><i><a href="http://jiajunye.github.io/OOJS_Tennis-Game/" target="_blank">Tennis Game</a></i></li>
				</ul>
			</td>

			<td class="introduction">
				<h3 class="how"><img style="vertical-align: bottom" src="https://lh3.googleusercontent.com/-rFCsqHuluCE/VgVWM72OnOI/AAAAAAAAARU/6xdQ-J8eiDg/s895-no/Question-Mark.png" alt="Image couldn't find" width="50" height="50"><span style="vertical-align: middle">How Wiki Works</h3>
				<ul>
					<li>Wiki is a <a href="http://jiajun-miniwiki.appspot.com/website">website</a> that allows any page to be edited or created.</li>
					<br>
					<li>You will be able to enter a non-existent <a href="http://jiajun-miniwiki.appspot.com/url">URL</a>, redirect to an edit page and create a new wiki page from there.</li>
					<br>
					<li>If you entered an existent <a href="http://jiajun-miniwiki.appspot.com/url">URL</a>, you will be redirected to the corresponding wiki page. You can also edit that wiki page to create a newer version.</li>
					<br>
					<li>Have <a href="http://jiajun-miniwiki.appspot.com/user">user</a> <a href="http://jiajun-miniwiki.appspot.com/account">accounts</a> so that only logged-in <a href="http://jiajun-miniwiki.appspot.com/user">users</a> will have edit privileges.</li>
					<br>
					<li>Have a history section which displays the different wiki versions that have existed.</li>
				</ul>
			</td>

			<td class="last-modified" rowspan = "2">
				<h3 class="how" style="text-align: center">Last 10 Modified Wikis</h3>
					<ol style="padding-left: 40%">
						{% for wiki in last_modified %}
							<li>
								<a href="{{ wiki.address }}" target="_blank">{{ wiki.address }}
								</a>
							</li>
							<br>
						{% endfor %}
					</ol>
			</td>
		</tr>
		<tr>
			<td class="corvette">
				<a href="https://en.wikipedia.org/wiki/Chevrolet_Corvette" target="_blank">
					<img src="https://lh3.googleusercontent.com/-QHXRh9-a36M/VgWspMnZCWI/AAAAAAAAAVc/8ge0xzHqUMY/w1259-h770-no/2015-Chevrolet-Corvette-Z06-129.jpg" alt="Couldn't find image" width="100%" height=0.61*width>
				</a>
			</td>
		</tr>
	</table>
	<h3>By clicking Edit button, try to edit whatever you want to show here:</h3>
	<div>{{content | safe}}</div>
  </body>
</html>