<!DOCTYPE html>

<html>
<head>
	<title>Signup</title>
	<link type="text/css" rel="stylesheet" href="/static/main.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
	<style>
		a:hover {
	    color: red;
	    background-color: transparent;
	    text-decoration: underline;
		}
		h2 {
			font-family: 'Montserrat', sans-serif;
			font-size: 32px;
		}
	</style>
</head>
<body>
	<br>
    Already have an account?
    <a class="login-link" href="/login">LOGIN</a>
	<h2>Signup</h2>
	<form method="post">
	    <table>
	        <tr>
	            <td align="right">Username</td>
	            <td><input type="text" name="username" value="{{username}}"></td>
	            <td style="color: red">{{error_username}}</td>
	        </tr>
	        <tr>
	            <td align="right">Password</td>
	            <td><input type="password" name="password"></td>
	            <td style="color: red">{{error_password}}</td>
	        </tr>
	        <tr>
	            <td align="right">Verify Password</td>
	            <td><input type="password" name="verify"></td>
	            <td style="color: red">{{error_verify}}</td>
	        </tr>
	        <tr>
	            <td align="right">Email(optional)</td>
	            <td><input type="text" name="email" value="{{email}}"></td>
	            <td style="color: red">{{error_email}}</td>
	        </tr>
	    </table>
	    <input type="submit">
	</form>
</bady>
</html>